<div class="a4" id="a4">
  <div>
    Saintur .B / esaintor@gmail.com / <a href="https://github.com/esaintor" target="_blank">github.com/esaintor</a>
  </div>
  <h3>
    {{json.title}}
  </h3>
  <div *ngFor="let experience of json.experiences">
    <h4>
      <span>{{experience.as}}, {{experience.where}}
      </span>
      <span class="right">{{experience.from}} - {{experience.to}}
      </span>
    </h4>
    <ul>
      <li *ngFor="let item of experience.items">
        <div>{{item.description}}</div>
        <div class="tags">
          <span *ngFor="let tag of item.tags">{{tag}}</span>
        </div>
      </li>
    </ul>
  </div>
  <h3>
    {{json.education}}
  </h3>
  <div>
    <ul>
      <li *ngFor="let education of json.educations">
        <div>
          <span>{{education.as}}, {{education.where}}
      </span>
          <span class="right">{{education.from}} - {{education.to}}
      </span>
        </div>
        <div class="tags">
          <span *ngFor="let tag of education.tags">{{tag}}</span>
        </div>
      </li>
    </ul>
  </div>
  <h3>
    {{json.certificate}}
  </h3>
  <div>
    <ul>
      <li *ngFor="let certificate of json.certificates">
        <div>{{certificate.description}}</div>
        <div class="tags">
          <span *ngFor="let tag of certificate.tags">{{tag}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>

<!--firebase deploy --only hosting:esaintor-cv-->
